name: Roll PDF JSON Generator

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build-json:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate JSON
        run: |
          echo "[" > results.json

          for i in $(seq -w 1 60); do
            ROLL="1111220250$i"
            URL="https://sbte-api.anantdrishti.com/util/downloadResult?rollNumber=$ROLL"

            if [ "$i" -eq 60 ]; then
              echo "  {\"roll\": \"$ROLL\", \"url\": \"$URL\"}" >> results.json
            else
              echo "  {\"roll\": \"$ROLL\", \"url\": \"$URL\"}," >> results.json
            fi
          done

          echo "]" >> results.json

      - name: Commit JSON
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add results.json
          git commit -m "Updated roll links JSON" || echo "No changes"
          git push
